Repository rango-exchange/rango-client, pull requests merged in 2023-12, with the labels that each got.

#455 chore: export types & logics from widget
  queue-manager/core/src/index.ts
  queue-manager/rango-preset/package.json
  queue-manager/rango-preset/src/helpers.ts
  queue-manager/rango-preset/src/index.ts
  queue-manager/rango-preset/src/types.ts
  wallets/shared/src/helpers.ts
  wallets/shared/src/providers.ts
  wallets/shared/src/rango.ts
  widget/embedded/src/containers/WidgetInfo/WidgetInfo.helpers.ts
  widget/embedded/src/containers/WidgetInfo/WidgetInfo.tsx
  widget/embedded/src/containers/WidgetInfo/WidgetInfo.types.ts
  widget/embedded/src/index.ts
Labels: scope: widget

#451 fix: fix performance issues on token selector in widget
  widget/embedded/src/components/TokenList/TokenList.helpers.ts
  widget/embedded/src/components/TokenList/TokenList.tsx
  widget/embedded/src/components/TokenList/TokenList.types.ts
  widget/embedded/src/components/TokenList/index.ts
  widget/embedded/src/containers/Wallets/Wallets.tsx
  widget/embedded/src/pages/Home.tsx
  widget/embedded/src/pages/SelectSwapItemsPage.tsx
  widget/embedded/src/store/quote.ts
  widget/embedded/src/store/wallets.ts
  widget/embedded/src/types/wallets.ts
  widget/embedded/src/utils/wallets.ts
Labels: scope: widget

#453 feat: remove unnecessary files & logics in playground
  widget/playground/package.json
  widget/playground/src/components/ChainsConfig.tsx
  widget/playground/src/components/ColorPicker/ColorPicker.styles.ts
  widget/playground/src/components/MultiList/MultiList.helper.ts
  widget/playground/src/components/MultiSelect/Container.tsx
  widget/playground/src/components/MultiSelect/ModalContent.tsx
  widget/playground/src/components/MultiSelect/MultiSelect.types.ts
  widget/playground/src/components/MultiSelect/MultiTokenSelect.tsx
  widget/playground/src/components/MultiSelect/index.tsx
  widget/playground/src/components/Select.tsx
  widget/playground/src/components/SideNavigation/SideNavigation.styles.ts
  widget/playground/src/components/SingleList/SingleList.styles.ts
  widget/playground/src/components/SourcesConfig.tsx
  widget/playground/src/components/TokenInfo.tsx
  widget/playground/src/components/WalletsConfig/ExternalWallet.tsx
  widget/playground/src/components/WalletsConfig/InternalWallets.tsx
  widget/playground/src/components/WalletsConfig/index.tsx
  widget/playground/src/constants/index.ts
  widget/playground/src/containers/Config.tsx
  widget/playground/src/containers/FunctionalLayout/FunctionalLayout.tsx
  widget/playground/src/containers/StyleLayout/StyleLayout.Themes.tsx
  widget/playground/src/containers/StyleLayout/StyleLayout.styles.ts
  widget/playground/src/index.tsx
  widget/playground/src/store/config.ts
  widget/playground/src/store/meta.ts
  widget/playground/src/store/selectors.ts
  widget/playground/src/types.ts
  widget/playground/src/utils/common.ts
  widget/playground/src/utils/configs.ts
  widget/playground/src/utils/export.ts
  widget/playground/typing.d.ts
Labels: scope: playground

#438 feat: add disabledFeatures to widget config
  widget/embedded/src/components/HeaderButtons/HomeButtons.tsx
  widget/embedded/src/components/Layout/Layout.tsx
  widget/embedded/src/components/NoResult/NoResult.tsx
  widget/embedded/src/components/QuoteWarningsAndErrors/SlippageWariningModal.tsx
  widget/embedded/src/components/Slippage/Slippage.tsx
  widget/embedded/src/containers/App/App.tsx
  widget/embedded/src/containers/Wallets/Wallets.tsx
  widget/embedded/src/hooks/useConfirmSwap/useConfirmSwap.ts
  widget/embedded/src/hooks/useLanguage.ts
  widget/embedded/src/hooks/usePrepareBlockchainList/usePrepareBlockchainList.ts
  widget/embedded/src/hooks/useSwapInput.ts
  widget/embedded/src/hooks/useSyncStoresWithConfig.ts
  widget/embedded/src/hooks/useTheme.ts
  widget/embedded/src/pages/ConfirmSwapPage.tsx
  widget/embedded/src/pages/LiquiditySourcePage.tsx
  widget/embedded/src/pages/SettingsPage.tsx
  widget/embedded/src/pages/ThemePage.tsx
  widget/embedded/src/store/AppStore.tsx
  widget/embedded/src/store/app.ts
  widget/embedded/src/store/settings.ts
  widget/embedded/src/store/slices/settings.ts
  widget/embedded/src/types/config.ts
  widget/embedded/src/utils/settings.ts
Labels: scope: widget

#461 feat: export meta from useWidget
  widget/embedded/src/containers/App/App.tsx
  widget/embedded/src/containers/Wallets/Wallets.tsx
  widget/embedded/src/containers/WidgetInfo/WidgetInfo.helpers.ts
  widget/embedded/src/containers/WidgetInfo/WidgetInfo.tsx
  widget/embedded/src/containers/WidgetInfo/WidgetInfo.types.ts
Labels: scope: widget

#463 fix: display transaction url after refreshing
  queue-manager/rango-preset/src/actions/checkStatus.ts
  wallets/provider-safe/src/evm-signer.ts
  wallets/provider-safe/src/helpers.ts
Labels: bug, scope: widget

#445 feat: implement pin tokens in From and To
  widget/embedded/src/components/TokenList/TokenList.tsx
  widget/embedded/src/components/TokenList/TokenList.types.ts
  widget/embedded/src/pages/SelectSwapItemsPage.tsx
  widget/embedded/src/store/slices/data.ts
  widget/embedded/src/types/config.ts
  widget/embedded/src/utils/wallets.ts
  widget/playground/src/components/MultiSelect/MultiSelect.tsx
  widget/playground/src/components/MultiSelect/MultiSelect.types.ts
  widget/playground/src/components/TokensPanel/TokensPanel.List.tsx
  widget/playground/src/components/TokensPanel/TokensPanel.tsx
  widget/playground/src/components/TokensPanel/TokensPanel.types.ts
  widget/playground/src/containers/FunctionalLayout/FunctionalLayout.From.tsx
  widget/playground/src/containers/FunctionalLayout/FunctionalLayout.To.tsx
  widget/playground/src/containers/SupportedTokens/SupportedTokens.tsx
  widget/playground/src/store/config.ts
Labels: scope: playground

#460 fix: improve widget for smaller screens
  widget/embedded/src/components/BlockchainsSection/BlockchainsSection.styles.ts
  widget/embedded/src/components/BlockchainsSection/BlockchainsSection.tsx
  widget/embedded/src/components/ConfirmWalletsModal/ConfirmWallets.styles.ts
  widget/embedded/src/components/ConfirmWalletsModal/WalletList.tsx
  widget/embedded/src/components/Layout/Layout.styles.ts
  widget/embedded/src/components/LoadingSwapDetails/LoadingSwapDetailStep.tsx
  widget/embedded/src/components/LoadingSwapDetails/LoadingSwapDetails.styles.ts
  widget/embedded/src/components/LoadingSwapDetails/LoadingSwapDetails.tsx
  widget/embedded/src/components/LoadingSwapDetails/LoadingSwapDetails.types.ts
  widget/embedded/src/components/Quote/Quote.styles.ts
  widget/embedded/src/components/Quote/Quote.tsx
  widget/embedded/src/components/Quote/QuoteSkeleton.styles.ts
  widget/embedded/src/components/Quote/QuoteSkeleton.tsx
  widget/embedded/src/components/Quote/index.ts
  widget/embedded/src/components/QuoteSkeleton/QuoteSkeleton.styles.ts
  widget/embedded/src/components/QuoteSkeleton/QuoteSkeleton.tsx
  widget/embedded/src/components/QuoteSkeleton/QuoteSkeleton.types.ts
  widget/embedded/src/components/QuoteSkeleton/QuoteSummarySkeleton.styles.ts
  widget/embedded/src/components/QuoteSkeleton/QuoteSummarySkeleton.tsx
  widget/embedded/src/components/QuoteSkeleton/QuoteSummarySkeleton.types.ts
  widget/embedded/src/components/QuoteSkeleton/StepSkeleton.styles.ts
  widget/embedded/src/components/QuoteSkeleton/StepSkeleton.tsx
  widget/embedded/src/components/QuoteSkeleton/StepSkeleton.types.ts
  widget/embedded/src/components/QuoteSkeleton/index.ts
  widget/embedded/src/components/Slippage/Slippage.styles.ts
  widget/embedded/src/components/Slippage/Slippage.tsx
  widget/embedded/src/components/SwapDetails/SwapDetails.Placeholder.tsx
  widget/embedded/src/components/SwapDetails/SwapDetails.styles.ts
  widget/embedded/src/components/TokenList/TokenList.styles.ts
  widget/embedded/src/components/TokenList/TokenList.tsx
  widget/embedded/src/containers/QuoteInfo/QuoteInfo.tsx
  widget/embedded/src/pages/Home.tsx
  widget/embedded/src/pages/SettingsPage.tsx
  widget/embedded/src/pages/WalletsPage.tsx
  widget/embedded/src/store/slices/config.ts
  widget/embedded/src/utils/wallets.ts
  widget/ui/src/components/Button/Button.styles.tsx
  widget/ui/src/components/ListItem/ListItem.styles.ts
  widget/ui/src/components/ListItemButton/ListItemButton.styles.ts
  widget/ui/src/components/PriceImpact/PriceImpact.styles.ts
  widget/ui/src/components/PriceImpact/PriceImpact.tsx
  widget/ui/src/components/Skeleton/Skeleton.tsx
  widget/ui/src/components/Skeleton/Skeleton.types.ts
  widget/ui/src/components/Switch/Switch.styles.tsx
  widget/ui/src/components/TextField/TextField.tsx
  widget/ui/src/components/Tooltip/Tooltip.styles.ts
  widget/ui/src/components/Tooltip/Tooltip.tsx
  widget/ui/src/components/Wallet/Wallet.styles.ts
  widget/ui/src/containers/SwapInput/SwapInput.styles.ts
  widget/ui/src/containers/SwapInput/SwapInput.tsx
  widget/ui/src/containers/SwapInput/SwapInput.types.ts
  widget/ui/src/containers/SwapInput/TokenSection.styles.ts
  widget/ui/src/containers/SwapInput/TokenSection.tsx
Labels: scope: widget, need in next release

#476 chore: upgrade publish scripts
  CONTRIBUTING.md
  package.json
  scripts/check-conventional-commits/command.mjs
  scripts/common/changelog.mjs
  scripts/common/constants.mjs
  scripts/common/errors.mjs
  scripts/common/features.mjs
  scripts/common/git.mjs
  scripts/common/github.mjs
  scripts/common/graph/helpers.mjs
  scripts/common/npm.mjs
  scripts/common/repository.mjs
  scripts/common/typedefs.mjs
  scripts/common/utils.mjs
  scripts/common/version.mjs
  scripts/deploy/command.mjs
  scripts/deploy/utils.mjs
  scripts/post-release/command.mjs
  scripts/post-release/tag.mjs
  scripts/publish/build.mjs
  scripts/publish/command.mjs
  scripts/publish/package.mjs
  scripts/publish/publish.mjs
  scripts/publish/single-pkg-publish.mjs
  scripts/publish/state.mjs
  scripts/publish/typedefs.mjs
  scripts/publish/upgrade.mjs
  scripts/publish/utils.mjs
  scripts/release/command.mjs
Labels: scope: ci

#483 fix: correct item picker style
  widget/playground/src/components/ItemPicker/ItemPicker.styles.ts
Labels: bug, scope: playground

#479 feat: add default injected wallet
  wallets/provider-all/package.json
  wallets/provider-all/src/index.ts
  wallets/provider-default/CHANGELOG.md
  wallets/provider-default/package.json
  wallets/provider-default/readme.md
  wallets/provider-default/src/helpers.ts
  wallets/provider-default/src/index.ts
  wallets/provider-default/src/signer.ts
  wallets/provider-default/tsconfig.json
  wallets/shared/src/rango.ts
  widget/embedded/src/hooks/useWalletList.ts
Labels: scope: wallet

#475 fix: fix widget-iframe styles
  widget/app/public/index.css
  widget/app/src/App.tsx
  widget/embedded/src/components/ConfirmWalletsModal/ConfirmWalletsModal.tsx
  widget/embedded/src/components/ConfirmWalletsModal/WalletList.tsx
  widget/embedded/src/components/Layout/Layout.styles.ts
  widget/embedded/src/components/Layout/Layout.tsx
  widget/embedded/src/components/SwapDetailsModal/SwapDetailsCompleteModal.tsx
  widget/embedded/src/components/SwapDetailsModal/SwapDetailsModal.tsx
  widget/embedded/src/components/WalletModal/WalletModal.tsx
  widget/embedded/src/constants/index.ts
  widget/embedded/src/containers/App/App.styles.ts
  widget/embedded/src/utils/common.ts
  widget/iframe/src/main.ts
  widget/iframe/src/styles.ts
  widget/iframe/tsconfig.json
Labels: scope: widget, need in next release

#469 fix: showing real prices, amount and dates
  translations/en.po
  translations/es.po
  translations/fr.po
  translations/ja.po
  widget/embedded/src/components/Quote/Quote.styles.ts
  widget/embedded/src/components/Quote/Quote.tsx
  widget/embedded/src/components/Quote/QuoteSummary.tsx
  widget/embedded/src/components/SwapDetails/SwapDetails.helpers.tsx
  widget/embedded/src/components/SwapDetails/SwapDetails.tsx
  widget/embedded/src/components/SwapDetailsModal/SwapDetailsCompleteModal.tsx
  widget/embedded/src/components/SwapDetailsModal/SwapDetailsModal.types.ts
  widget/embedded/src/components/SwapsGroup/SwapsGroup.tsx
  widget/embedded/src/constants/routing.ts
  widget/embedded/src/pages/Home.tsx
  widget/embedded/src/utils/date.ts
  widget/embedded/src/utils/numbers.ts
  widget/embedded/src/utils/time.ts
  widget/ui/src/components/PriceImpact/PriceImpact.tsx
  widget/ui/src/components/PriceImpact/PriceImpact.types.ts
  widget/ui/src/components/StepDetails/StepDetails.tsx
  widget/ui/src/components/StepDetails/StepDetails.types.ts
  widget/ui/src/components/SwapListItem/SwapListItem.tsx
  widget/ui/src/components/SwapListItem/SwapListItem.types.ts
  widget/ui/src/components/SwapListItem/SwapToken.tsx
  widget/ui/src/components/SwapListItem/SwapToken.types.ts
  widget/ui/src/components/SwapListItem/mock.ts
  widget/ui/src/components/TokenAmount/TokenAmount.tsx
  widget/ui/src/components/TokenAmount/TokenAmount.types.ts
  widget/ui/src/components/Tooltip/Tooltip.tsx
  widget/ui/src/components/Tooltip/Tooltip.types.ts
  widget/ui/src/containers/SwapInput/SwapInput.tsx
  widget/ui/src/containers/SwapInput/SwapInput.types.ts
Labels: scope: widget

#485 hotfix: fix starknet signer problem
  signers/signer-starknet/src/signer.ts
Labels: bug, scope: signer

#484 feat: add transition for tabs
  widget/playground/src/components/ExportConfigModal/ExportConfigModal.styles.tsx
  widget/playground/src/components/ExportConfigModal/ExportConfigModal.tsx
  widget/playground/src/components/SideNavigation/SideNavigation.Tabs.tsx
  widget/playground/src/components/SideNavigation/SideNavigation.styles.ts
  widget/playground/src/containers/StyleLayout/StyleLayout.Themes.tsx
  widget/playground/src/containers/StyleLayout/StyleLayout.styles.ts
  widget/ui/src/components/Button/Button.tsx
  widget/ui/src/components/Button/Button.types.tsx
Labels: feature, scope: playground

#477 fix: walletDetails request is fired twice
  wallets/core/src/types.ts
  wallets/core/src/wallet.ts
  wallets/provider-argentx/src/index.ts
  wallets/provider-bitget/src/index.ts
  wallets/provider-braavos/src/index.ts
  wallets/provider-brave/src/index.ts
  wallets/provider-coin98/src/index.ts
  wallets/provider-coinbase/src/index.ts
  wallets/provider-cosmostation/src/index.ts
  wallets/provider-frontier/src/index.ts
  wallets/provider-keplr/src/index.ts
  wallets/provider-leap-cosmos/src/index.ts
  wallets/provider-math-wallet/src/index.ts
  wallets/provider-okx/src/index.ts
  wallets/provider-phantom/src/index.ts
  wallets/provider-safe/src/index.ts
  wallets/provider-safepal/src/index.ts
  wallets/provider-station/src/index.ts
  wallets/provider-xdefi/src/index.ts
  wallets/react/src/types.ts
  wallets/shared/src/providers.ts
  wallets/shared/src/rango.ts
  widget/embedded/src/containers/Wallets/Wallets.tsx
Labels: bug, scope: widget, scope: wallet

#466 feat: Update filter tokens interface in widget
  widget/embedded/src/hooks/useSyncStoresWithConfig.ts
  widget/embedded/src/index.ts
  widget/embedded/src/store/slices/data.ts
  widget/embedded/src/types/config.ts
  widget/embedded/src/utils/configs.ts
  widget/playground/src/components/MultiList/MultiList.styles.ts
  widget/playground/src/components/MultiList/MultiList.tsx
  widget/playground/src/components/MultiSelect/MultiSelect.tsx
  widget/playground/src/components/MultiSelect/MultiSelect.types.ts
  widget/playground/src/components/TokensPanel/TokensPanel.List.tsx
  widget/playground/src/components/TokensPanel/TokensPanel.tsx
  widget/playground/src/components/TokensPanel/TokensPanel.types.ts
  widget/playground/src/containers/DefaultChainAndToken/DefaultChainAndToken.tsx
  widget/playground/src/containers/SupportedTokens/SupportedTokens.tsx
  widget/playground/src/store/config.ts
  widget/playground/src/utils/configs.ts
Labels: scope: widget, scope: playground

#473 feat: add github action for sync translation with crowdin
  .github/actions/prepare/action.yml
  .github/workflows/checks.yaml
  .github/workflows/crowdin.yml
  .github/workflows/deploy.yml
  .github/workflows/publish.yaml
  .github/workflows/publish.yml
  CONTRIBUTING.md
  crowdin.yml
  package.json
Labels: scope: widget

#472 feat: implement auto-refresh for routes
  widget/embedded/src/components/HeaderButtons/HeaderButtons.styles.ts
  widget/embedded/src/components/HeaderButtons/HomeButtons.tsx
  widget/embedded/src/components/HeaderButtons/RefreshButton.tsx
  widget/embedded/src/pages/ConfirmSwapPage.tsx
  widget/embedded/src/pages/Home.tsx
  widget/ui/src/components/RefreshProgressButton/RefreshProgressButton.styles.ts
  widget/ui/src/components/RefreshProgressButton/RefreshProgressButton.tsx
  widget/ui/src/components/RefreshProgressButton/index.ts
  widget/ui/src/components/index.ts
  widget/ui/src/icons/Refresh.tsx
  widget/ui/svgs/resources/fill/Refresh.svg
Labels: feature, scope: widget

#459 fix: complete and check missing translations
  widget/embedded/src/components/ConfirmWalletsModal/ConfirmWalletsModal.tsx
  widget/embedded/src/components/HeaderButtons/HeaderButtons.styles.ts
  widget/embedded/src/components/Quote/QuoteSummary.tsx
  widget/embedded/src/components/SwapsGroup/SwapsGroup.tsx
  widget/embedded/src/pages/LiquiditySourcePage.tsx
  widget/embedded/src/pages/SelectBlockchainPage.tsx
  widget/embedded/src/pages/SelectSwapItemsPage.tsx
  widget/embedded/src/utils/date.ts
Labels: scope: widget
