Repository rango-exchange/rango-client, pull requests merged in 2024-01, with the labels that each got.

#488 fix: address some minor bugs in swapHistory & wallet page loading
  widget/embedded/src/components/Slippage/Slippage.tsx
  widget/embedded/src/components/SwapsGroup/SwapsGroup.tsx
  widget/ui/src/components/SwapListItem/SwapListItem.types.ts
  widget/ui/src/components/SwapListItem/SwapToken.tsx
  widget/ui/src/components/Wallet/Wallet.styles.ts
Labels: bug, scope: widget

#496 fix: correct token data type in storybook
  widget/ui/src/components/SwapListItem/mock.ts
Labels: bug

#478 fix: apply some of playground feedbacks
  widget/playground/src/components/Collapse/Collapse.styles.ts
  widget/playground/src/components/ExportConfigModal/CodeBlock.styles.tsx
  widget/playground/src/components/ExportConfigModal/CodeBlock.tsx
  widget/playground/src/components/ExportConfigModal/ExportConfigModal.styles.tsx
  widget/playground/src/components/ExportConfigModal/ExportConfigModal.tsx
  widget/playground/src/components/ItemPicker/ItemPicker.tsx
  widget/playground/src/components/MultiList/MultiList.styles.ts
  widget/playground/src/components/MultiList/MultiList.tsx
  widget/playground/src/components/MultiSelect/index.ts
  widget/playground/src/components/OverlayPanel/OverlayPanel.tsx
  widget/playground/src/components/SearchInput/SearchInput.styles.ts
  widget/playground/src/components/SearchInput/SearchInput.tsx
  widget/playground/src/components/SearchInput/SearchInput.types.ts
  widget/playground/src/components/SearchInput/index.ts
  widget/playground/src/components/SideNavigation/SideNavigation.styles.ts
  widget/playground/src/components/SingleList/SingleList.styles.ts
  widget/playground/src/components/SingleList/SingleList.tsx
  widget/playground/src/components/Slider/Slider.styles.ts
  widget/playground/src/components/Slider/Slider.tsx
  widget/playground/src/components/Slider/Slider.types.ts
  widget/playground/src/components/TokensPanel/TokensPanel.List.tsx
  widget/playground/src/components/TokensPanel/TokensPanel.tsx
  widget/playground/src/containers/DefaultChainAndToken/DefaultChainAndToken.tsx
  widget/playground/src/containers/FunctionalLayout/FunctionalLayout.From.tsx
  widget/playground/src/containers/FunctionalLayout/FunctionalLayout.Liquidities.tsx
  widget/playground/src/containers/FunctionalLayout/FunctionalLayout.To.tsx
  widget/playground/src/containers/FunctionalLayout/FunctionalLayout.Wallets.tsx
  widget/playground/src/containers/FunctionalLayout/FunctionalLayout.styles.ts
  widget/playground/src/containers/FunctionalLayout/FunctionalLayout.tsx
  widget/playground/src/containers/StyleLayout/StyleLayout.CustomColors.tsx
  widget/playground/src/containers/StyleLayout/StyleLayout.General.tsx
  widget/playground/src/containers/StyleLayout/StyleLayout.Preset.tsx
  widget/playground/src/containers/StyleLayout/StyleLayout.Themes.tsx
  widget/playground/src/containers/StyleLayout/StyleLayout.styles.ts
  widget/playground/src/containers/StyleLayout/StyleLayout.tsx
  widget/playground/src/containers/SupportedBlockchains/SupportedBlockchains.tsx
  widget/playground/src/containers/SupportedTokens/SupportedTokens.tsx
  widget/playground/src/containers/configContainer/ConfigContainer.styles.ts
  widget/playground/src/containers/configContainer/ConfigContainer.tsx
  widget/playground/src/utils/common.ts
  widget/ui/src/components/Divider/Divider.styles.ts
  widget/ui/src/components/Divider/Divider.tsx
  widget/ui/src/components/Divider/Divider.types.ts
  widget/ui/src/components/Switch/Switch.styles.tsx
  widget/ui/src/components/TextField/TextField.tsx
  widget/ui/src/components/TextField/TextField.types.tsx
  widget/ui/src/icons/Height.tsx
  widget/ui/src/icons/Key.tsx
  widget/ui/src/icons/Width.tsx
  widget/ui/src/icons/index.ts
  widget/ui/src/theme.ts
  widget/ui/svgs/resources/fill/Height.svg
  widget/ui/svgs/resources/fill/Width.svg
  widget/ui/svgs/resources/fill/key.svg
Labels: scope: playground

#494 feat: for long routes, we should show a shorter version and hide the rest in a button.
  .vscode/settings.json
  widget/embedded/src/components/Quote/Quote.styles.ts
  widget/embedded/src/components/Quote/Quote.tsx
  widget/embedded/src/components/Quote/Quote.types.ts
  widget/embedded/src/components/Quote/QuoteTrigger .tsx
  widget/embedded/src/utils/quote.ts
  widget/ui/src/components/Tooltip/Tooltip.styles.ts
  widget/ui/src/components/Tooltip/Tooltip.tsx
  widget/ui/src/components/Tooltip/Tooltip.types.ts
  widget/ui/src/theme.ts
Labels: scope: widget

#474 chore: use virtualized list for swap history items
  widget/embedded/src/components/HistoryGroupedList/HistoryGroupedList.helpers.ts
  widget/embedded/src/components/HistoryGroupedList/HistoryGroupedList.styles.ts
  widget/embedded/src/components/HistoryGroupedList/HistoryGroupedList.tsx
  widget/embedded/src/components/HistoryGroupedList/HistoryGroupedList.types.ts
  widget/embedded/src/components/HistoryGroupedList/index.ts
  widget/embedded/src/components/SwapsGroup/SwapsGroup.tsx
  widget/embedded/src/components/SwapsGroup/index.ts
  widget/embedded/src/components/TokenList/TokenList.tsx
  widget/embedded/src/pages/HistoryPage.tsx
  widget/embedded/src/utils/date.ts
  widget/playground/src/components/SingleList/SingleList.tsx
  widget/playground/src/components/TokensPanel/TokensPanel.List.tsx
  widget/ui/package.json
  widget/ui/src/components/TokenList/TokenList.tsx
  widget/ui/src/components/VirtualizedList/VirtualizedList.tsx
  widget/ui/src/components/VirtualizedList/VirtualizedList.types.ts
  widget/ui/src/components/VirtualizedList/index.ts
  yarn.lock
Labels: scope: widget
