Repository rango-exchange/rango-client, pull requests merged in 2024-02, with the labels that each got.

#564 feat: feature management from server
  widget/embedded/src/components/ConfirmWalletsModal/ConfirmWalletsModal.tsx
  widget/embedded/src/components/ConfirmWalletsModal/WalletList.tsx
  widget/embedded/src/components/Layout/Layout.styles.ts
  widget/embedded/src/components/Layout/Layout.tsx
  widget/embedded/src/components/Layout/Layout.types.ts
  widget/embedded/src/components/Quote/QuoteCostDetails.tsx
  widget/embedded/src/components/QuoteWarningsAndErrors/HighValueLossWarningModal.tsx
  widget/embedded/src/components/QuoteWarningsAndErrors/SlippageWariningModal.tsx
  widget/embedded/src/components/QuoteWarningsAndErrors/UnknownPriceWarningModal.tsx
  widget/embedded/src/components/SwapDetailsModal/SwapDetailsCompleteModal.tsx
  widget/embedded/src/components/SwapDetailsModal/SwapDetailsModal.tsx
  widget/embedded/src/components/WalletModal/WalletModal.tsx
  widget/embedded/src/components/common/ActivateTabModal/ActivateTabModal.tsx
  widget/embedded/src/components/common/WatermarkedModal/WatermarkedModal.tsx
  widget/embedded/src/components/common/WatermarkedModal/index.ts
  widget/embedded/src/containers/App/App.tsx
  widget/embedded/src/hooks/useFetchApiConfig.ts
  widget/embedded/src/pages/Home.tsx
  widget/embedded/src/store/ui.ts
  widget/playground/src/components/ExportConfigModal/ExportConfigModal.tsx
  widget/ui/src/components/Modal/Modal.styles.ts
  widget/ui/src/components/Modal/Modal.tsx
  widget/ui/src/components/Modal/Modal.types.ts
  widget/ui/src/components/Modal/index.ts
Labels: scope: widget

#532 feat: multi routing
  widget/embedded/src/components/AppRoutes.tsx
  widget/embedded/src/components/ConfirmWalletsModal/ConfirmWallets.helpers.ts
  widget/embedded/src/components/ConfirmWalletsModal/ConfirmWalletsModal.tsx
  widget/embedded/src/components/HeaderButtons/HeaderButtons.tsx
  widget/embedded/src/components/HeaderButtons/HeaderButtons.types.ts
  widget/embedded/src/components/HeaderButtons/index.ts
  widget/embedded/src/components/Layout/Layout.tsx
  widget/embedded/src/components/Layout/Layout.types.ts
  widget/embedded/src/components/Quote/Quote.styles.ts
  widget/embedded/src/components/Quote/Quote.tsx
  widget/embedded/src/components/Quote/Quote.types.ts
  widget/embedded/src/components/Quote/QuoteCostDetails.tsx
  widget/embedded/src/components/Quote/QuoteTrigger .tsx
  widget/embedded/src/components/QuoteSkeleton/QuoteSkeleton.tsx
  widget/embedded/src/components/QuoteSkeleton/QuoteSkeleton.types.ts
  widget/embedded/src/components/QuoteSkeleton/QuoteSummarySkeleton.styles.ts
  widget/embedded/src/components/QuoteSkeleton/QuoteSummarySkeleton.tsx
  widget/embedded/src/components/QuoteSkeleton/QuoteSummarySkeleton.types.ts
  widget/embedded/src/components/QuoteWarningsAndErrors/QuoteWarningsAndErrors.helpers.ts
  widget/embedded/src/components/SwapDetails/SwapDetails.tsx
  widget/embedded/src/components/SwapDetailsAlerts/SwapDetailsAlerts.types.ts
  widget/embedded/src/components/SwapDetailsModal/index.ts
  widget/embedded/src/constants/navigationRoutes.ts
  widget/embedded/src/constants/quote.ts
  widget/embedded/src/containers/QuoteInfo/QuoteInfo.tsx
  widget/embedded/src/containers/QuoteInfo/QuoteInfo.types.ts
  widget/embedded/src/hooks/useConfirmSwap/useConfirmSwap.helpers.ts
  widget/embedded/src/hooks/useConfirmSwap/useConfirmSwap.ts
  widget/embedded/src/hooks/useConfirmSwap/useConfirmSwap.types.ts
  widget/embedded/src/hooks/useFetch.ts
  widget/embedded/src/hooks/useFetchAllQuotes.ts
  widget/embedded/src/hooks/useFetchConfirmQuote.ts
  widget/embedded/src/hooks/useFetchQuote.ts
  widget/embedded/src/hooks/useSwapInput.ts
  widget/embedded/src/pages/ConfirmSwapPage.tsx
  widget/embedded/src/pages/Home.tsx
  widget/embedded/src/pages/Routes.tsx
  widget/embedded/src/store/quote.ts
  widget/embedded/src/store/wallets.ts
  widget/embedded/src/types/quote.ts
  widget/embedded/src/utils/quote.ts
  widget/embedded/src/utils/swap.ts
  widget/embedded/src/utils/wallets.ts
  widget/ui/package.json
  widget/ui/src/components/Alert/Alert.styles.ts
  widget/ui/src/components/Modal/Modal.tsx
  widget/ui/src/components/QuoteCost/QuoteCost.styles.ts
  widget/ui/src/components/QuoteCost/QuoteCost.types.ts
  widget/ui/src/components/Select/Select.tsx
  widget/ui/src/components/Select/Select.types.ts
  widget/ui/src/components/Select/index.ts
  widget/ui/src/components/Select/select.styles.ts
  widget/ui/src/components/index.ts
  widget/ui/src/theme.ts
  yarn.lock
Labels: scope: widget

#592 feat: add filter for multi-routing sort preference
  widget/embedded/src/constants/quote.ts
  widget/embedded/src/pages/Routes.tsx
  widget/ui/src/components/Select/Select.tsx
  widget/ui/src/components/Select/select.styles.ts
Labels: scope: widget

#595 feat: add an expand mode for our widget compact
  widget/embedded/src/components/Layout/Layout.styles.ts
  widget/embedded/src/components/Layout/Layout.tsx
  widget/embedded/src/components/NoResult/NoResult.styles.ts
  widget/embedded/src/components/NoResult/NoResult.tsx
  widget/embedded/src/components/Quote/Quote.styles.ts
  widget/embedded/src/components/Quote/Quote.tsx
  widget/embedded/src/components/Quote/Quote.types.ts
  widget/embedded/src/components/Quote/QuoteCostDetails.tsx
  widget/embedded/src/components/Quote/QuoteTrigger.tsx
  widget/embedded/src/components/QuoteWarningsAndErrors/HighValueLossWarningModal.tsx
  widget/embedded/src/components/QuoteWarningsAndErrors/QuoteWarningsAndErrors.types.ts
  widget/embedded/src/components/QuoteWarningsAndErrors/UnknownPriceWarningModal.tsx
  widget/embedded/src/components/Quotes/Quotes.styles.ts
  widget/embedded/src/components/Quotes/Quotes.tsx
  widget/embedded/src/components/Quotes/Quotes.types.ts
  widget/embedded/src/components/Quotes/SelectStrategy.tsx
  widget/embedded/src/components/Quotes/index.ts
  widget/embedded/src/constants/index.ts
  widget/embedded/src/containers/ExpandedQuotes/ExpandedQuotes.styles.ts
  widget/embedded/src/containers/ExpandedQuotes/ExpandedQuotes.tsx
  widget/embedded/src/containers/ExpandedQuotes/ExpandedQuotes.types.ts
  widget/embedded/src/containers/ExpandedQuotes/index.ts
  widget/embedded/src/containers/Inputs/Inputs.styles.ts
  widget/embedded/src/containers/Inputs/Inputs.tsx
  widget/embedded/src/containers/Inputs/Inputs.types.ts
  widget/embedded/src/containers/Inputs/index.ts
  widget/embedded/src/containers/QuoteInfo/QuoteInfo.tsx
  widget/embedded/src/containers/QuoteInfo/QuoteInfo.types.ts
  widget/embedded/src/hooks/useMobileDetect.ts
  widget/embedded/src/hooks/useSwapInput.ts
  widget/embedded/src/index.ts
  widget/embedded/src/pages/ConfirmSwapPage.tsx
  widget/embedded/src/pages/Home.tsx
  widget/embedded/src/pages/Routes.tsx
  widget/embedded/src/types/config.ts
  widget/embedded/src/utils/common.ts
  widget/playground/src/components/ItemPicker/ItemPicker.styles.ts
  widget/playground/src/components/ItemPicker/ItemPicker.tsx
  widget/playground/src/components/ItemPicker/ItemPicker.types.ts
  widget/playground/src/constants/variants.ts
  widget/playground/src/containers/StyleLayout/StyleLayout.General.tsx
  widget/playground/src/containers/StyleLayout/StyleLayout.types.ts
  widget/playground/src/store/config.ts
  widget/ui/src/components/Alert/Alert.styles.ts
  widget/ui/src/components/QuoteCost/QuoteCost.styles.ts
Labels: scope: widget, scope: playground

#555 feat: redesign switching theme
  widget/embedded/src/components/AppRoutes.tsx
  widget/embedded/src/constants/navigationRoutes.ts
  widget/embedded/src/constants/settings.ts
  widget/embedded/src/containers/Settings/Lists.tsx
  widget/embedded/src/pages/SettingsPage.tsx
  widget/embedded/src/pages/ThemePage.tsx
  widget/playground/src/components/ExportConfigModal/ExportConfigModal.styles.tsx
  widget/playground/src/components/ExportConfigModal/ExportConfigModal.tsx
  widget/playground/src/components/ExportConfigModal/ExportConfigModal.types.tsx
  widget/playground/src/containers/StyleLayout/StyleLayout.Themes.tsx
  widget/playground/src/containers/StyleLayout/StyleLayout.styles.ts
  widget/playground/src/hooks/useTheme.ts
  widget/ui/src/components/List/List.tsx
  widget/ui/src/components/List/List.types.ts
  widget/ui/src/components/List/index.ts
  widget/ui/src/components/ListItem/ListItem.styles.ts
  widget/ui/src/components/Tabs/Tabs.stories.tsx
  widget/ui/src/components/Tabs/Tabs.styles.tsx
  widget/ui/src/components/Tabs/Tabs.tsx
  widget/ui/src/components/Tabs/Tabs.types.tsx
  widget/ui/src/components/Tabs/index.ts
  widget/ui/src/components/index.ts
  widget/ui/src/icons/Bridges.tsx
  widget/ui/src/icons/Exchange.tsx
  widget/ui/src/icons/index.ts
  widget/ui/svgs/resources/fill/Bridges.svg
  widget/ui/svgs/resources/fill/Exchange.svg
Labels: scope: widget, scope: playground

#594 feat: add new chains to xdefi
  wallets/provider-xdefi/package.json
  wallets/provider-xdefi/src/constants.ts
  wallets/provider-xdefi/src/cosmos-signer.ts
  wallets/provider-xdefi/src/helpers.ts
  wallets/provider-xdefi/src/index.ts
  wallets/provider-xdefi/src/signer.ts
  wallets/readme.md
  wallets/shared/src/rango.ts
Labels: scope: signer
